@model Cleverbit.Models.HomeViewModel
<table class="table" id="resultTable">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">User name</th>
            <th scope="col">Result</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserMatchResults)
        {
            <tr>
                <th scope="row">@(Model.UserMatchResults.IndexOf(item) + 1)</th>
                <td>@item.UserName</td>
                <td>@item.Result</td>
            </tr>
        }
    </tbody>
</table>


<a href="javacript:void();" id="refreshResults" class="btn btn-success">Refresh</a>